[Unit]
Description=Dartboard game
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/yannick/dartboard/game-board/server/server.py
WorkingDirectory=/home/yannick/dartboard/game-board/server
User=yannick
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
